.avatar{
    width: 50px;
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.BtnBusca,
.BtnLimpa{
    cursor: pointer;
    transition: all 400ms;
    margin: 1%;
    float: right;border: none;
    outline: none;
    color: white;
    font-size: 13px;
    font-weight: 600;
    border-radius: 60px;
    padding: 8px 40px;

    &:hover{
        opacity: .7;
    }
}

.BtnBusca {
    background-color: #63c640;
}

.BtnLimpa {
    background-color: #F93131;
}
